{# templates/form/fields.html.twig #}
{%- block form_row -%}
  <div class="form-group col-sm-12">
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    {{ form_help(form) }}
  </div>
{%- endblock -%}

{%- block editable_text -%}
    <input type="number" class="editable-text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock -%}
