{# templates/form/fields.html.twig #}
{%- block form_row -%}
  <div class="form-group">
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_help(form) }}
  </div>
{%- endblock -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}
    <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
  <div class="ui toggle checkbox">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label></label>
  </div>
{%- endblock checkbox_widget -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <div class="select-wrapper">
      <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
          {%- if placeholder is not none -%}
              <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
          {%- endif -%}
          {%- if preferred_choices|length > 0 -%}
              {% set options = preferred_choices %}
              {{- block('choice_widget_options') -}}
              {%- if choices|length > 0 and separator is not none -%}
                  <option disabled="disabled">{{ separator }}</option>
              {%- endif -%}
          {%- endif -%}
          {%- set options = choices -%}
          {{- block('choice_widget_options') -}}
      </select>
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block editable_text_widget -%}
  <div class="editable-text-wrapper">
    <button class="editable-text-action"></button>
    <input type="text" class="form-control editable-text" disabled="disabled" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
  </div>
{%- endblock editable_text_widget -%}

{%- block subscription_group_widget -%}
  <div class="subscription-group-wrapper">
    <h2 class="subscription-group-header">{{ form.vars.groupName }}</h2>
    <div class="subscription-group-items">
      {{ form_widget(form) }}
    </div>
  </div>
{%- endblock subscription_group_widget -%}
